<% include ../partials/header %>


<div class="container">
    
    <header class="jumbotron">
        <!-- Adding another container inside the jumbotron to give the text a bit of bumper on the edges of the page when resizing -->
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="campgrounds/new">Add a new campground</a>
            </p>
        </div>    
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <!-- Loop through campgrounds array and display name and image of the array items -->
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <!-- Note that the source of image has to be in %% tags  -->
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4> <%= campground.name %> </h4>  
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Information</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<a href="/">Back to the landing page</a>

<% include ../partials/footer %>