<!-- Include template header from partials folder-->
<% include partials/header %>

<h1>Landing page!</h1>

<p>Welcome to YelpCamp!</p>

<a href="/campgrounds">View all campgrounds</a>

<!-- Include template footer from partials folder-->
<% include partials/footer %>